<div class="custom-badges custom-badges--{{ position }} {{ classname }}">
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_buy_3_get_1_free, theme_badge: 'custom_badge_buy_3_get_1_free.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_back_in_stock, theme_badge: 'custom_badge_back_in_stock.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_bestseller, theme_badge: 'custom_badge_bestseller.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_buy_1_get_1_free, theme_badge: 'custom_badge_buy_1_get_1_free.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_buy_2_get_1_free, theme_badge: 'custom_badge_buy_2_get_1_free.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_coming_soon, theme_badge: 'custom_badge_coming_soon.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_free_shipping, theme_badge: 'custom_badge_free_shipping.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_outlet, theme_badge: 'custom_badge_outlet.png' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_1, setting_name: 'product_custom_badge_1' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_2, setting_name: 'product_custom_badge_2' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_3, setting_name: 'product_custom_badge_3' %}
    {% render 'product-custom-badge', metafield: product.metafields.custom.custom_badge_4, setting_name: 'product_custom_badge_4' %}
</div>