.rte:not(.rte--dont-break):after {
  clear: both;
  content: '';
  display: block;
}

.rte > p {
  margin: 2rem 0;
}

.rte > p:first-child {
  margin-top: 0;
}

.rte > p:last-child {
  margin-bottom: 0;
}

.rte table {
  table-layout: fixed;
}

.rte table:not([class]) {
  box-shadow: none;
}

@media screen and (min-width: 577px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.rte table:not([class]) td {
  border: none;
  padding: 0;
  padding-right: 1rem;
}

.rte table:not([class]) tr:not(:first-child) td {
  padding-top: 0.8rem;
}

.rte img {
  height: auto;
  max-width: 100%;
  border-radius: var(--images-border-radius);
}

.rte ul {
  padding-left: 2rem;
}

.rte ol {
  padding-left: 2.5rem;
}

.rte li {
  list-style: inherit;
}

.rte li:last-child {
  margin-bottom: 0;
}

.rte a:not(.button) {
  color: rgb(var(--clr-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.rte a:not(.button):hover {
  text-decoration: none;
}

.rte blockquote p {
  margin: 0;
}

.rte :is(h1, h2, h3, h4, h5, h6) {
  text-transform: var(--headings-case);
}

.rte .button {
  margin-top: 1rem;
}