.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 6rem 0 8rem;
}

.cart__empty-text {
  margin: 0 0 4rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 993px) {
  .cart__warnings {
    padding: 16rem 0 16rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
}

.cart__items.disabled {
  pointer-events: none;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

@media screen and (max-width: 576px) {
  .cart__footer {
    text-align: right;
  }
}

@media screen and (min-width: 577px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 50%;
  }

  .cart__footer > * + * {
    padding-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  margin-left: auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-border-radius) !important;
}

.cart__dynamic-checkout-buttons .shopify-cleanslate li {
  margin-top: 2rem !important;
  margin-bottom: 0 !important;
}

.cart__dynamic-checkout-buttons .shopify-cleanslate ul li {
  height: auto !important;
  flex-basis: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.cart__dynamic-checkout-buttons .shopify-cleanslate div[role="button"] {
  height: 50px !important;
}

@media screen and (min-width: 577px) {
  .cart__dynamic-checkout-buttons .shopify-cleanslate :is(div[role="button"], iframe) {
    max-width: 10.6rem !important;
  }
}

.cart__dynamic-checkout-buttons--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 0.5rem 0 2rem auto;
  display: block;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 577px) {
  .tax-note {
    text-align: center;
  }

  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.cart__ctas-confirmation {
  margin-bottom: 2rem;
}

@media screen and (min-width: 993px) {
  .cart__ctas-confirmation {
    justify-content: flex-end;
  }

  .cart__buttons {
    max-width: 40rem;
    margin-left: auto;
  }
}

#cart-checkout-button-confirmation ~ * :is(button, [role="button"]),
#cart-checkout-button-confirmation ~ * ~ * :is(button, [role="button"]) {
  cursor: not-allowed !important;
  opacity: .5 !important;
}

.cart___free-shipping {
  padding-top: 4rem;
  margin-bottom: 4rem;
  border-top: 0.1rem solid rgba(var(--clr-line),var(--clr-line-alpha));
}

.is-empty .cart___free-shipping {
  display: none;
}

.cart___cart-countdown {
  margin-bottom: 2rem;
}

.is-empty .cart___cart-countdown {
  display: none;
}